
<div class="card">
    <div class="card-header bg-primary text-white" style="text-align: center;">
        <h1> Catalogue des PFEs (ESSAT) </h1> 
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row mt-2 mb-2 ">
                <div class="col-4">
                    <a class="btn btn-danger rounded-pill" href="" routerLink="addpfe">Ajouter un Pfe</a>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control rounded-pill" placeholder="Titre de PFE à chercher" [(ngModel)]="searchTerm" (keyup)="search($event)">
            </div>
            <a href="" [(ngModel)]="searchTerm" (keyup)="search($event)" class="btn btn-primary rounded-pill">Chercher PFE</a> 
            </div>
            
            <router-outlet></router-outlet>
        </div>
       
    </div>
        </div>
        